.thumbnailContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: clamp(10rem, 27vw, 17rem);
    position: relative;
    cursor: pointer;
    color: var(--primary-font);
    text-decoration: none;
}

.productLink {
    color: var(--primary-font);
    text-decoration: none;
}

.thumbnailContainer div p {
    font-size: 0.8rem;
}

.shortcutIconsContainer {
    position: absolute;
    border-radius: 0 0 0 1rem;
    background-color: var(--dark-primary);
    top: 0;
    right: 0;
    display: flex;
}

.shortcutIcons{
    color: var(--active-font);
    background-color: transparent;
    padding: 0.4rem;
    cursor: pointer;
    border: none;
}

.description {
    margin-left: 0;
}

.categTitle {
    display: flex;
    align-items: flex-start;
    margin-top: 0.5rem;
}

.categTitle img {
    border-radius: 99rem;
    margin-right: 1rem;
}

@media screen and (max-width: 851px) {
    .thumbnailContainer {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 630px) {
    .description {
        margin-left: 1rem;
    }
    
}