.playlistContainer {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.thumbnailContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 17rem;
    cursor: pointer;
    color: var(--primary-font);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color: var(--dark-secondary);
    box-shadow: 0px 0px 5px var(--dark-secondary);
    text-decoration: none;
    overflow: hidden;
}

.thumbnailContainer i {
    text-align: right;
    width: 100%;
}

.closeBtn {
    position: absolute;
    top: 0;
    right: 0;
}

.thumbnailContainer img {
    margin-top: 1rem;
}