.flexCont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
}

.iconList {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
    font-size: 1.3rem;
}

a {
    color: var(--active-font);
}

@media screen and (max-width: 630px) {
    .flexCont {
        visibility: hidden;
        margin: 0;
        padding: 0;
    }
}